body {
  width: 80%;
  margin: 0 auto;
  background-color: #2222;
  font-family: "Rubik", sans-serif;
}

.main-box {
  background-color: #303030;
  border-radius: 20px;
}

header {
  text-align: center;
}

header h1 {
  padding-top: 20px;
  font-size: 30px;
  color: #b7b7b7;
  font-weight: 400;
}

.form {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  border-radius: 4px;
  justify-content: space-between;
  background-color: #4a4a4a;
}

.form-first {
  display: flex;
  align-items: center;
}

.form-input {
  margin: 5px;
}

.form-input label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  color: #b9b9bb;
}
.form input {
  font-size: 20px;
  width: 90%;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid orange;
}

.form button {
  background-color: orange;
  align-items: center;
  margin-top: 10px;
}

.todo-box {
  margin: 10 auto;
  width: 100%;
}

.todo-box ul {
  margin: 10 auto;
  width: 100%;
  padding: 0;
}

.todo-box li {
  margin: 10px auto;
  width: 80%;
  padding: 10px;
}

.task {
  color: #fff;
  background-color: #4a4a4a;
  border-radius: 4px;
  padding: 15px;
  margin: 10px;
  overflow-x: hidden;
  cursor: pointer;
}
.task-inside {
  display: flex;
  justify-content: space-between;
}

.task-core button {
  margin: 10px;
  padding: 10px;
}

.task-core h1 {
  color: #fd9814;
  font-size: 30px;
  margin: 0px;
}

.task-core p {
  font-size: 15px;
}

article {
  display: grid;
}

.task-core {
  max-width: 74%;
}
